<ul>
    <li>Impuesto Nacional IVA : 19%, se aplica sobre el total de la cuenta.</li>
    <li>Peaje Autopistas Concesionadas TAG : $ 9.874 + IVA, por día o pase diario, sólo en la ciudad de Santiago. (valor diario)</li>
    <li>Free Aeropuerto : 9% por retiro de vehículo en el aeropuerto</li>
    <li>Combustible: Los automóviles se entregan con el estanque lleno y se deben devolver de la misma manera. Se cobrará cualquier diferencia.</li>
    <li>Drop off: Cargo por retiro de vehículo en una ciudad y devolver en otra, sólo disponible en territorio nacional. (Ver tabla al final de la página).</li>
</ul>
<h4>COBERTURAS BÁSICAS</h4>
<ul>
    <li>Cobertura Parcial de Colisión y Robo, con su deducible correspondiente según contrato de arriendo.</li>
    <li>Daños a Terceros.</li>
</ul>
<h4>REQUERIMIENTOS – RESTRICCIONES</h4>
<ul>
    <li>Licencia de Conducir vigente del país de residencia o Licencia Internacional.</li>
    <li>Carnet de Identidad vigente, DNI o Pasaporte vigente (para extranjeros).</li>
    <li>GARANTÍA CON TARJETA DE CRÉDITO: cupo de Tarjeta mínimo para garantizar arriendo desde $400.000 Arriendo mínimo de 24 horas, valor por hora adicional de $3.500.-</li>
    <li>Edad mínima para arrendar 21 años.</li>
    <li>No se aceptan cheques.</li>
</ul>
<h4>OPCIONES DE PAGO</h4>
<ul>
    <li>Dinero en efectivo</li>
    <li>Debito</li>
    <li>Transferencia Bancaria</li>
    <li>American Express</li>
    <li>Visa</li>
    <li>Diner Club</li>
    <li>Master Card</li>
</ul>
<h4>RESTRICCIONES GEOGRÁFICAS</h4>
<ul>
    <li>La conducción de los vehículos es restringida a Chile. Para cruzar a Argentina  se debe comprar (trámite se realiza en el momento) Seguro Internacional de Responsabilidad Civil más Permiso correspondiente dónde Traveler Rent a Car SPA autoriza el paso del vehículo en calidad de arriendo.</li>
    <li>El vehículo debe ser retornado a Chile por el mismo conductor autorizado para sacarlo del país.</li>
    <li>Tarifas y disponibilidad de vehículos en las ciudades de la Región de los Lagos se deben consultar directamente a los teléfonos indicados en el contrato de Arriendo para consultar por disponibilidad de vehículos.</li>
    <li>Todos los modelos están sujetos a disponibilidad de acuerdo a la temporada</li>
</ul>
<h4>TABLA DE CARGOS POR DROP OFF</h4>
<ul>
    <li>El Drop Off, es el cargo que se aplica cuando el vehículo arrendado es devuelto en una ciudad distinta a la del retiro.</li>
</ul>
<h4>KILÓMETROS	CARGO</h4>
<ul>
    <li>  0 – 300	$ 300 + iva, por kilometro</li>
    <li>301 – 500	$ 250 + iva, por kilometro</li>
    <li>501 – 1000	$ 220 + iva, por kilometro</li>
    <li>1001 – 1500	$ 210 + iva, por kilometro</li>
    <li>1501 – 2000	$ 426.000 + iva</li>
    <li>Pto. Montt – Pta. Arenas	$ 500.000 + iva</li>
</ul>
<h4>EL ARRIENDO DEL VEHÍCULO INCLUYE:</h4>
<ul>
    <li>Kilometraje libre.</li>
    <li>1 hora de gracia.</li>
    <li>Asistencia en ruta sistema 24/7</li>
    <li>Asistencia en caso de accidente</li>
    <li>Coberturas Básicas CDW, DAT</li>
    <li>CDW: Cobertura parcial de colisión y robo, con deducible por cada perdida según contrato de arriendo.</li>
    <li>DAT: Daños a Terceros con deducible por cada perdida según contrato de arriendo.</li>
</ul>
<h4>REQUISITOS DE ARRIENDO</h4>
<ul>
    <li>
        Ciudadanos Chilenos
        <ul>
            <li>Edad mínima 21 años de edad.</li>
            <li>Cédula de identidad vigente.</li>
            <li>Licencia de conducir vigente.</li>
            <li>Tarjeta de crédito para la garantía de arriendo por efectos del seguro.</li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        Ciudadanos Extranjeros
        <ul>
            <li>Documento de identidad o pasaporte vigente.</li>
            <li>Licencia de conducir del país de origen y vigente.</li>
            <li>Tarjeta de crédito, tarjetas de débito o dinero en efectivo.</li>
        </ul>
    </li>
</ul>