<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SisRentEntities" connectionString="data source=ZCO-1GHZT32\SQLEXPRESS;initial catalog=SisRent;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>