@{
    ViewBag.Title = "Inicio";
}
<div class="jumbotron text-center">
    <h1 class="text-red">TRAVELER RENTACAR</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-blue"><strong>TRAVELER RENTACAR ARRIENDO DE VEHICULOS</strong></h3>
        <p class="text-justify">
            Somos una empresa con más de 2 años de experiencia en el rubro automotriz, consolidándose en el mercado local debido a su excelente atención personalizada y calidad de servicio.
            Con el propósito de entregar diversos servicios dentro del rubro automotriz, contamos con esta división de arriendo de vehículos, Traveler Rent a Car SPA, que posee variedad de vehículos y marcas, en óptimo estado, ofreciendo un servicio rápido y de calidad, lo que asegura un viaje tranquilo y cómodo.
            Nuestra empresa se toma muy enserio a la hora de prestar servicios de arriendos de vehículos, contando con Automóviles, City Car, Station Wagon, Jeep, Camionetas 4×2 y 4×4, Mini Buses, entre otros.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-blue"><strong>VEHICULOS MAS SOLICITADOS</strong></h3>
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">VEHICULOS PARA 4 PASAJEROS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <img src="/Images/sportage.png" class="img-rounded img-responsive" alt="Imagen Auto" />
                    </div>
                    <div class="col-md-7">
                        <h2>KIA SPORTAGE</h2>
                        <ul>
                            <li>Tipo D-CVVT Nafta – 16 Válvulas</li>
                            <li>Cilindrada (cc) 1,998</li>
                            <li>Diámetro x Carrera (mm) 86 x 86</li>
                            <li>Relación de Compresión 10.3</li>
                            <li>Potencia Máxima (ps/rpm) 154/6200</li>
                            <li>Torque Máximo (kg-m/Nm@rpm) 19.5/4600</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <img src="/Images/versa.png" class="img-rounded img-responsive" alt="Imagen Auto" />
                    </div>
                    <div class="col-md-7">
                        <h2>NISSAN VERSA</h2>
                        <ul>
                            <li>Bloque En fundición</li>
                            <li>Cilindros 4 en línea - DOHC - 16 válvulas</li>
                            <li>Control Variable de Válvulas No</li>
                            <li>Cilindrada 1.6 Litros</li>
                            <li>Potencia 106 HP a 5,600 rpm</li>
                            <li>Torque 105 lb-pie a 4,000 rpm</li>
                            <li>Alimentación Inyección secuencial multipunto</li>
                            <li>Combustible Gasolina</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <img src="/Images/elantra.png" class="img-rounded img-responsive" alt="Imagen Auto" />
                    </div>
                    <div class="col-md-7">
                        <h2>HYNDAI ELANTRA</h2>
                        <ul>
                            <li>Tipo de motor Nu 1.8 MPI, DOHC, CVVT, 16V Potencia</li>
                            <li>(PS @@ rpm) 150 @@ 6500 Máximo torque (Kgm @@ rpm)</li>
                            <li>18.2 @@ 4700 Cilindrada (cc) 1797 Diámetro y carrera (mm) 81 X 87,2</li>
                            <li>Capacidad del tanque de combustible (lts) 48,5</li>
                            <li>Peso en orden de marcha (kg) mínimo / máximo 1176 / 1251 1194 / 1269</li>
                            <li>Peso bruto (kg) 1700</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>