@{
    ViewBag.Title = "Información";
}
<div class="text-center text-blue">
    <h2><strong>INFORMACIÓN</strong></h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h3 class="text-blue"><strong>REQUSITOS PARA ARRENDAR</strong></h3>
        <p class="text-red"><strong>IMPORTANTE</strong></p>
        <p>CIUDADANO CHILENO</p>
        <ul class="text-justify">
            <li>Mayor de 22 años</li>
            <li>Cédula de Identidad o Pasaporte</li>
            <li>Licencia de Conducir al dí­a</li>
            <li>Tarjeta de Crédito Bancaria</li>
            <li>Deducible 15UF + IVA vehículos</li>
            <li>Deducible 20UF + IVA Camionetas</li>
            <li>Deducible perdida total o volcamiento 50UF + IVA para todas las unidades</li>
        </ul>
        <br />
        <p>CIUDADANO EXTRANJERO</p>
        <ul class="text-justify">
            <li>Documentos de identidad y pasaporte vigente</li>
            <li>Licencia de conducir del país de origen o</li>
            <li>licencia internacional vigente.</li>
            <li>Tarjeta de Crédito Bancaria</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-blue"><strong>EL ARRIENDO DEL VEHÍCULO INCLUYE:</strong></h3>
        <ul class="text-justify">
            <li>Kilometraje libre</li>
            <li>1 hora de gracia</li>
            <li>Asistencia en ruta sistema 24/7</li>
            <li>Asistencia en caso de accidente</li>
            <li>Coberturas Básicas CDW, DAT</li>
            <li>CDW: Cobertura parcial de colisión y robo, con deducible por cada perdida según contrato de arriendo.</li>
            <li>DAT: Daños a Terceros con deducible por cada perdida según contrato de arriendo</li>
        </ul>
    </div>
</div>
<br />
<h3 class="text-blue text-center"><strong>FLOTA DE VEHICULOS</strong></h3>
<hr />
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <img src="/Images/elantra.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-6">
        <br />
        <br />
        <h3 class="">HYUNDAY ELANTRA</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 text-right">
        <br />
        <br />
        <br />
        <h3 class="">NISSAN VERSA</h3>
    </div>
    <div class="col-md-6">
        <img src="/Images/versa.png" alt="" class="img-responsive">
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <img src="/Images/aveo.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-6">
        <br />
        <br />
        <br />
        <h3 class="">CHEVROLET AVEO</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5 text-right">
        <br />
        <br />
        <br />
        <h3 class="">PEUGEOT 308</h3>
    </div>
    <div class="col-md-7">
        <img src="/Images/308.png" alt="" class="img-responsive">
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <img src="/Images/sportage.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-6">
        <br />
        <br />
        <br />
        <h3 class="">KIA SPORTAGE</h3>
    </div>
</div>